@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --raisin-black: #30262aff;
  --black-bean: #2c0208ff;
  --black-bean-lighter: #61383e;
  --pale-dogwood: #dcbaacff;
  --black: #060203ff;
  --blood-red: #670100ff;
  --foreground-rgb: #fff;
  --background-start-rgb: var(--black-bean);
  --background-end-rgb: var(--black);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: var(--pale-dogwood);
    --background-start-rgb: var(--black-bean);
    --background-end-rgb: var(--black);
  }
} */

body {
  color: var(--foreground-rgb);
  background: linear-gradient(to bottom, transparent, var(--background-end-rgb))
    var(--background-start-rgb);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
